<html>
    <head>
        
        <script src="/js/jquery.min.js"></script>
        <script src='/js/main.js'></script>

        <link rel='stylesheet' href='/css/main.css'>
        <title>Simple Streaming Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    
    </head>
    <body>
        <h1>Main page</h1>
        <div id="error" style="color:red"></div>
        <div id="url"></div>
        <div id="content">
            <h2>Folders</h2>
            <div id="folders"></div>
            <h2>Files</h2>
            <div id="files"></div>
        </div>
    </body>
</html>